body {
    background-color: rgba(143, 148, 148, 0.493);
}
h1 { 
    color: rgb(62, 62, 66);
    font-size: 50px;
    text-align: center;
}

p{
    color: black;
    font-size: 30px;
    text-align: justify;
}